each options, list in spine.lists
  +data-list({id:`${list}-list`, list:options})    
   
.sheet__container
  .card.card--header
    .section.section--header
      .group
        +text-input({name:'character_name', label:{key:'character-name'}, html:{class:'text-input--simple labelled--top-center text-input--align-center text-input--xlarge-text'}})
        +rangebar({name:'blood-points', steps: 6, label:{key:'blood-points'}, html:{class:'labelled--top-center rangebar--afar'}})
      .group
        img.logo(src=`${imgServer}/logo.svg` data-i18n-alt='logo')
        +rangebar({name:'momentum-pool', steps: 3, label:{key:'momentum-pool'}, clear: true, html:{class:'labelled--top-center rangebar--afar'}})
      .group
        +text-input({name:'class', label:{key:'class'}, html:{class:'text-input--simple labelled--top-center text-input--align-center text-input--xlarge-text'}})
        +rangebar({name:'doom-points', steps: 6, label:{key:'doom-points'}, html:{class:'labelled--top-center rangebar--afar'}})
  .navigation.tabs
    input(class='current-page' type='hidden' name='attr_current-page')
    +tab({key:'page-1', name:'page-1', group:'current-page', checked: true, html:{class:`tab--page-1`}})
    +tab({key:'page-2', name:'page-2', group:'current-page', html:{class:`tab--page-2`}})
    +tab({key:'page-3', name:'page-3', group:'current-page', html:{class:`tab--page-3`}})
  .pages.tabbed
    .page.page--1.tab-content  
      include page-1.pug
    .page.page--2.tab-content
      include page-2.pug  
    .page.page--3.tab-content
      include page-3.pug
  include roller.pug
