@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import  "./scss/variables.scss";

.ui-dialog .characterviewer .charsheet {
  @import "./scss/reset.scss";
  @import "./scss/card.scss";
  @import "./scss/labelled.scss";
  @import "./scss/rangebar.scss";
  @import "./scss/picker.scss";
  @import "./scss/repeating-section.scss";
  @import "./scss/table.scss";
  @import "./scss/form.scss";
  @import "./scss/tabs.scss";
  @import "./scss/button.scss";
  @import "./scss/display.scss";
  @import "./scss/section.scss";
  @import "./scss/pages.scss";
  @import "./scss/roller.scss";

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;

  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: 500;

  //TAGS STYLES
  h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
    line-height: normal;
    color: var(--text-color);
  }
  h2 {
    font-size: var(--font-size-xlarge);
    font-weight: 900;
    margin-bottom: 5px;
  }
  h3 {
    font-size: var(--font-size-small);
    font-weight: 600;
  }
  p {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    font-weight: 500;
  }

  //MISCELLANEOUS STYLES
  .character {
    padding-bottom: 20px;
    padding-top: 5px;
    &:has(.roller__toggle input:checked) {
      padding-bottom: 76px;
    }
  }
  .font-awesome {
    opacity: 0.7;
  }
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .tab {
      border-radius: 5px;
      background: var(--primary-color);
      label {
        color: var(--background-color);
        font-weight: 600;
        text-transform: capitalize;
      }
      &:not(:has(input:checked)) {
        .translation {
          color: var(--primary-color);
        }
        border: 1px solid var(--primary-color);
        background: transparent;
      }
    }
  }
  .spread-items {
    min-height: 100%;
    align-content: space-between;
    display: grid
  }
  .section-separator {
    &--horizontal {
      min-width: 100%;
      border-top: 1px dotted var(--separator-color);
      margin-top: 20px;
      height: 10px;
      &.section-separator--narrow {
        margin-top: 20px;
        height: 10px;
      }
    }
    &--vertical {
      min-height: 100%;
      border-left: 1px dotted var(--separator-color);
      margin-left: 20px;
      width: 20px;
    }
  }


  //CARD STYLES
  .card.card--weapons-armor-ammunition-unarmed {
    display: grid;
    grid-template-columns: 3fr 2fr;
    .group.group--weapons-armor {
      display: grid;
      grid-template-rows: max-content 1fr;
      padding-right: 15px;
      .group--spread {
        display: flex;
        gap: 30px;
        flex-direction: column;
        .section--armor-info {
          flex-grow: 1;
          align-items: end;
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            border-top: 1px dotted var(--separator-color);
            position: absolute;
            bottom: 50px;
            left: 0;
          }
          .group--armor-score {
            display: flex;
            flex-direction: row-reverse;
            gap: 5px;
            .checkbox-input:has(input:checked) ~ .checkbox-input {
              input {
                opacity: 1;
              }
              &:after {
                content: "";
                width: 8px;
                height: 8px;
                background-image: url(https://raw.githubusercontent.com/mperes/Blood-and-Doom/refs/heads/main/static/xmark.svg);
                filter: none;
                z-index: 2;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    .group.group--ammunition-unarmed {
      margin-left: 5px;
      padding-left: 20px;
      border-left: 1px dotted var(--separator-color);
    }
  }
  .card--proficiencies-languages-feats-spells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .card--roleplay {
    padding: 0;
    background-color: transparent;
  }
  .card--health-conditions {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 30px;
  }
  .card--knowledge {
  }

  //TABLE STYLES
  .table--ammunition {
    grid-template-columns: 1fr 60px;
    gap: 10px;
    .group {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
    }
    .table__body {
      .repcontainer {
        gap: 5px;
      }
    }
  }
  .table--conditions {
    grid-template-columns: 1fr min-content;
    gap: 10px;
    grid-template-rows: min-content 1fr;
    min-height: 100%;
    .repcontainer {
      height: calc(100% + 10px);
      margin-top: -10px;
    }
    .repitem {
      align-items: end;
    }
  }
  .table--weapons {
    grid-template-columns: 100px min-content 1fr 100px min-content;
    gap: 10px;
    .group--damage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }
    .repcontainer {
      gap: 5px 10px;
    }
    .display {
      border-bottom: 1px solid var(--tertiary-color);
    };
    .input-checkbox {
      justify-self: end;
    }
  }
  .table--equipment {
    grid-template-columns: 1fr 100px 60px min-content;
    gap: 10px;
    .group--quantity {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
    }
    .repcontainer {
      gap: 5px 10px;
    }
    .display {
      border-bottom: 1px solid var(--tertiary-color);
    };
    .input-checkbox {
      justify-self: end;
    }
  }

  //SECTION STYLES
  .section--abilities-skills {
    .group--abilities-skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      .group--attributes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        .group--skill-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 5px;
        }
      }
    }
    label {
      display: grid;
      grid-template-columns: 1fr 32px;
    }
    .number-input--boxed {
      margin-bottom: 5px;
    }
  }
  .section--armor {
    .number-input {
      label {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 10px;
      }
      input {
        max-width: 60px;
      }
    }
    .group--armor {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
    }
    .number-input + .number-input  {
      margin-top: 5px;
    }
    .font-awesome {
      height: 1.5em;
      width: auto;
    }
  }
  .section--armor-info {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 10px;
  }
  .section--coinage {
    .group--coinage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-bottom: 10px;
    }
  }
  .section--treasure {
    margin-top: 15px;
    .repitem:not(:last-child ) {
      margin-bottom: 5px;
    }
  }
  .section--evasion {
    .group--evasion {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
    }
  }
  .section--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    > .group {
      display: grid;
      gap: 10px;
      &:first-of-type,
      &:last-of-type {
        > *:first-child {
          margin-top: -4px;
        }
      }
      img + .rangebar {
        margin-top: 4px;
      }
    }
  }
  .section--health {
    display: grid;
    .group--title {
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      gap: 10px;
      .section__toggle {
        margin-top: 2px;
      }
    }
    .group--bars {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      gap: 10px;
      margin-top: 5px;
      .rangebar {
        width: 10px;
        width: min-content;
      }
      .rangebar--madness {
        grid-column: 1 / -1;
        height: 38px;
        min-width: 100%;
        .rangebar__steps {
          min-width: 100%;
          justify-content: space-between;
        }
      }
    }
    .translation__append {
      font-size: var(--font-size-xsmall);
    }
    .rangebar:not(.rangebar--madness) {
      min-width: 100%;
      label {
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 5px;
      }
      .translation__append {
        display: block;
        line-height: normal;
      }
    }
    .group--maxes {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 10px 5px;
      .number-input, label {
        display: contents;
      }
    }
  }
  .section--knowledge {
    .group--title {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
      margin-bottom: 5px;
    }
    .repeating-section {
      &__view, 
      &__edit {
        display: grid;
        grid-template-columns: 1fr 32px;
        gap: 10px;
      }
    }
    .repitem:not(:last-child ) {
      margin-bottom: 5px;
    }
  }
  .section--magic {
    .group { 
      display: contents;
      .number-input {
      }
      &--magic-points {
        > * {
          margin-top: 15px;
        }
        .number-input:first-of-type {
          grid-column: span 2
        }
      }
      h3 {
        white-space: nowrap;
        font-size: var(--font-size-large);
        min-width: 85px;
      }
    }
    .group--entries {
      display: grid;
      grid-template-columns: max-content repeat(3, 1fr);
      gap: 10px;
      align-items: end;
    }
  }
  .section--resolve {
    .number-input label {
      display: grid;
      grid-template-columns: 1fr 50px;
      gap: 10px;
    }
  }
  .section--roleplay {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .tabs {
      display: flex;
      gap: 5px;
    }
    .tabbed {
      padding: 15px;
      border-radius: 0 5px 5px 5px;
      background-color: var(--background-color);
      flex-grow: 1;
      display: flex;
      .textarea {
        display: flex;
        min-height: 100%;
        flex-grow: 1;
      }
    }
    .tab {
      border: 1px solid var(--background-color);
      border-bottom: 0;
      label {
        color: var(--primary-color);
        opacity: 0.65;
        text-transform: capitalize;
      }
      &:has(input:checked) {
        background: var(--background-color);
        label {
          opacity: 1;
        }
      }
    }
  }
  .section--traits-powers-spells {
    .group--title {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
      input {
        max-width: 60px;
      }
    }
    .group--traditions {
      display: grid;
      grid-template-columns: 1fr min-content 1fr min-content 1fr;
      h3 {
        font-size: var(--font-size-large);
        + .translation {
          text-transform: capitalize;
        }
      }
    }
  }
  .section--unarmed-attacks {
    .group--attacks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  .section--tradition {
    .repcontainer {
      display: grid;
      grid-template-columns: 1fr 32px min-content;
      gap: 5px;
      .repitem, .repeating-section__edit {
        display: contents;
      }
    }
  }
  .section--avatar {
    .avatar {
      width: 100%;
      height: auto;
      margin: 0 0 10px 0!important;
      display: block;
    }
    .avatar--empty {
      display: none;
    }
    .avatar:not([src]) {
      display: none;
      + .avatar--empty {
        display: block;
        opacity: 0.35;
      }
    }
  }
  .section--proficiencies,
  .section--languages,
  .section--feats,
  .section--discovered-spells {
    .repitem:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .table--weapons {
    button {
      background: transparent;
      padding: 0;
      margin: 0;
      border: 0;
      &:hover {
        .display span {
          color: var(--secondary-color);
        }
      }
    }
  }
  .group--levelup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@import "./scss/rolltemplates.scss";
