@import  "./scss/variables.scss";

.ui-dialog .characterviewer .charsheet {
  @import "./scss/reset.scss";
  @import "./scss/card.scss";
  @import "./scss/labelled.scss";
  @import "./scss/rangebar.scss";
  @import "./scss/repeating-section.scss";
  @import "./scss/table.scss";
  @import "./scss/form.scss";
  @import "./scss/tabs.scss";
  @import "./scss/pages.scss";

  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: 500;

  //TAGS STYLES
  h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
    line-height: normal;
  }
  h2 {
    font-size: var(--font-size-xlarge);
    font-weight: 900;
  }
  h3 {
    font-size: var(--font-size-small);
    font-weight: 600;
  }

  //MISCELLANEOUS STYLES
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .tab {
      border-radius: 5px;
      background: var(--primary-color);
      label {
        color: var(--background-color);
        font-weight: 600;
      }
      &:has(input:checked) {
        label {
          color: red;
        }
      }
    }
  }
  .spread-items {
    min-height: 100%;
    align-content: space-between;
    display: grid
  }


  //CARD STYLES
  .card.card--weapons-armor-ammunition-unarmed {
    display: grid;
    grid-template-columns: 3fr 2fr;
    .group.group--weapons-armor {
      padding-right: 15px;
    }
    .group.group--ammunition-unarmed {
      padding-left: 15px;
      border-left: 1px solid var(--tertiary-color);
    }
  }
  .card--proficiencies-languages-feats-spells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .card--roleplay {
    padding: 0;
    background-color: transparent;
  }
  .card--health-conditions {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 30px;
  }
  .card--knowledge {
    min-height: 280px;
  }

  //TABLE STYLES
  .table--ammunition {
    grid-template-columns: 1fr min-content;
    gap: 10px;
    .group {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
    }
  }
  .table--conditions {
    grid-template-columns: 1fr 100px;
    gap: 10px;
    grid-template-rows: min-content 1fr;
    min-height: 100%;
    .repitem {
      align-items: end;
    }
  }
  .table--weapons {
    grid-template-columns: 1fr min-content min-content 100px min-content;
    gap: 10px;
  }

  //SECTION STYLES
  .section--abilities-skills {
    .group--abilities-skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      .group--attributes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        .group--skill-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 5px;
        }
      }
    }
    label {
      display: grid;
      grid-template-columns: 1fr 50px;
    }
  }
  .section--armor {
    .number-input label {
      display: grid;
      grid-template-columns: 50px 1fr;
      gap: 10px;
    }
    .group--armor {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
    }
    .number-input + .number-input  {
      margin-top: 5px;
    }
  }
  .section--armor-info {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 10px;
  }
  .section--coinage {
    .group--coinage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
  .section--evasion {
    .group--evasion {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
    }
  }
  .section--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .section--health {
    display: grid;
    .group--bars {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      gap: 10px;
      .rangebar {
        width: 10px;
        width: min-content;
      }
      .rangebar--madness {
        grid-column: 1 / -1;
      }
    }
  }
  .section--knowledge {
    .group--title {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
    }
    .repeating-section {
      &__view, 
      &__edit {
        display: grid;
        grid-template-columns: 1fr 50px;
        gap: 10px;
      }
    }
  }
  .section--magic {
    .group { 
      display: flex;
      gap: 10px;
      align-items: end;
      h3 {
        white-space: nowrap;
      }
    }
  }
  .section--resolve {
    .number-input label {
      display: grid;
      grid-template-columns: 1fr 50px;
      gap: 10px;
    }
  }
  .section--roleplay {
    .tabs {
      display: flex;
      gap: 5px;
    }
    .tabbed {
      padding: 20px;
      border-radius: 0 5px 5px 5px;
      background-color: var(--background-color);
    }
    .tab {
      background: var(--background-color);
      label {
        color: var(--primary-color);
        opacity: 0.75;
      }
      &:has(input:checked) {
        label {
          opacity: 1;
        }
      }
    }
  }
  .section--traits-powers-spells {
    .group--title {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 10px;
    }
    .group--traditions {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }
}  
