.display {
  font-weight: 700;
  text-transform: capitalize;
  line-height: 18px;
  min-height: 18px;
  &__append {
    &:not(:empty) {
      &:before {
        content: ' ('
      }
      &:after {
        content: ')'
      }
    }
  }
}