.labelled {
  text-transform: capitalize;
  &--left {
    label, .label {
      display: flex;
      gap: 5px;
      .translation {
        width: fit-content;
      };
    }
  }
  &--bottom {
    label, .label {
      display: flex;
      flex-direction: column-reverse;
    }
    &-center {
      label, .label {
        display: flex;
        flex-direction: column-reverse;
        span {
          align-self: center;
        }
      }
    }
  }
  &--top {
    label, .label {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    &-center {
      label, .label {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          align-self: center;
        }
      }
    }
  }
  &--nowrap {
    label, .label {
      .translation {
        white-space: nowrap;
      }
    }
  }
  label, .label {
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--text-color);
  }
}