.rangebar {
  &__steps {
    display: inline-flex;
    gap: 4px;
    flex-direction: row-reverse;
    input {
      appearance: none;
      background-color: transparent;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      border: 2px solid var(--tertiary-color);
      border-radius: 3px;
      &:focus {
        outline: none;
      }
    }
    input:checked,
    input:checked ~ input {
      border-color: var(--primary-color);
    }
  }
  &--afar {
    .rangebar__steps {
      gap: 15px;
    }
  }
}