.repeating-section {
  &__toggle {
    display: none;
  }
  &:not(.repeating-section--edit-only) {
    .repitem {
      position: relative;
      padding-left: 0;
      transition: padding-left 0.2s ease-in-out;
      &:not(:has(.repeating-section__toggle input:checked)) {
        &:hover {
          padding-left: 19px;
          .repeating-section__toggle {
            opacity: 1;
          }
        }
        .repeating-section__edit {
          display: none;
        }
        .repeating-section__toggle {
          opacity: 0;
        }
      }
      &:has(.repeating-section__toggle input:checked) {
        padding-left: 19px;
        .repeating-section__view {
          display: none;
        }
      }
    }
    .repeating-section__toggle {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      img {
        width: 14px;
        height: 14px;
      }
      input {
        position: absolute;
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
      }
    }
  }
  &--fixed {
    .repcontrol_add {
      display: none!important;
    }
  }
  &--locked {
    .repcontrol_edit {
      display: none!important;
    }
  }
}

.repeating-section--fixed.repeating-section--locked {
  .repcontrol {
    display: none!important;
  }
}