.roller {
  --separator-color: rgba(255, 255, 255, 0.25);
  background-color: var(--highlight-color);
  border-radius: 5px;
  width: 56px;
  height: 56px;
  display: grid;
  grid-template-columns: 56px;
  position: fixed;
  z-index: 9998;
  bottom: 20px;
  right: calc(50% - 431px);
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
  label, .translation, input, select {
    color: var(--boxedtext-color);
    span {
      color: var(--boxedtext-color);
    }
  }
  select option {
    color: rgba(25, 25, 25);
  }
  &__toggle {
    position: relative;
    width: 56px;
    height: 56px;
    display: grid;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: auto;
      align-self: center;
    }
    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  label {
    //align-items: center;
  }
  .section-separator {
    width: 20px;
  }
  .tabbed {
    > .group {
      align-items: center;
      display: flex;
      gap: 20px
    }
    input, select {
      width: 56px;
      text-align: center;
    }
  }
  .action-button {
    button {
      border-color: var(--boxedtext-color);
    }
    button:hover {
      background: var(--secondary-color);
      .translation {
        color: white;
      }
    }
  }
  .tabs {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    .tab {
      padding: 0px 10px;
      display: grid;
      align-items: center;
      .translation {
        white-space: pre-wrap;
      }
    }
    .tab:nth-child(2) {
      border-right: 1px solid var(--separator-color);
      border-left: 1px solid var(--separator-color);
      border-radius: 0;
    }
    .translation {
      text-transform: capitalize;
    }
    .tab:has(input:checked) {
      .translation span {
        color: var(--secondary-color);
        //text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
      }
    }
  }
  .roller__content {
    padding-left: 15px;
    align-self: center;
    display: flex;
    flex-direction: row;
  }
  .group--rolls {
    display: grid;
    grid-template-columns: max-content min-content max-content;
  }
  &:has(.roller__toggle input:checked) {
    border-radius: 5px;
    width: calc(100% - 30px);
    max-width: 870px;
    grid-template-columns: 1fr 56px;
    right: calc(50% - 431px);
  }
  &:not(:has(.roller__toggle input:checked)) {
    .roller__content {
      display: none;
    }
  }
  .checkbox-input {
    input {
      background-color: rgba(255,255,255,0.4);
      width: 14px;
      height: 14px;
      &:checked {
        background-color: var(--secondary-color);
      }
    }
  }
  .group--bonus {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: end;
    input[type="number"] {
      height: 24px;
    }
    gap: 5px;
  }
  .other[value]:not([value=""]):not([value="0"]):not([value="1"]):not([value="2"]):not([value="3"]):not([value="4"]):not([value="5"]:not([value="6"])) + .select-input select {
    color: var(--secondary-color);
  }
  .group--doom {
    @for $i from 1 through 6 {
      .current[value="#{$i}"] + .rollpicker .rollpicker__picks .pick:nth-child(#{$i}) {
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          box-sizing: border-box;
          bottom: -5px;
          left: 0;
          position: absolute;
          border-radius: 3px;
          background: var(--secondary-color);
        }
      }
    }
  }
}