.table {
  display: grid;
  &__header {
    white-space: nowrap;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    .font-awesome {
      height: 1.1em;
      width: auto;
      max-width: none;
      filter: invert(100%);
      //padding: 0 10px;
    }
  }
  &__body {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    .repeating-section, .repcontainer, .repitem, .repeating-section__view, .repeating-section__edit {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
    }
    .repcontrol {
      grid-column: 1 / -1;
    }
  }
  &__row {
    display: contents;
  }
  &--highlighted {
    .table__header {
      background-color: var(--highlight-color);
      color: var(--background-color);
      border-radius: 5px 5px 0 0;
      padding: 5px 10px;
      .translation {
      }
      img {

      }
    }
    .table__body {
      padding: 0 10px;
    }
  }
}