:root {
  --base-size: 10px;
  --font-size-xsmall: calc(var(--base-size) * 0.9);
  --font-size-small: calc(var(--base-size) * 1.1);
  --font-size-medium: calc(var(--base-size) * 1.2);
  --font-size-xmedium: calc(var(--base-size) * 1.4);
  --font-size-large: calc(var(--base-size) * 1.6);
  --font-size-xlarge: calc(var(--base-size) * 1.8);
  --primary-color: #484637;
  --highlight-color: #484637;
  --secondary-color: #2ecc71;
  --tertiary-color: #b2af9b;
  --background-color: #d9d8cf;
  --separator-color: rgba(0, 0, 0, 0.25);
  --blocker-color: white;
  --text-color: #484637;
  --boxedtext-color: #d9d8cf;
  --font-family: 'Arial', sans-serif;  
}

.sheet-darkmode {
  .sheetform {
    background-color: transparent;
  }
  --base-size: 10px;
  --font-size-xsmall: calc(var(--base-size) * 0.9);
  --font-size-small: calc(var(--base-size) * 1.1);
  --font-size-medium: calc(var(--base-size) * 1.2);
  --font-size-xmedium: calc(var(--base-size) * 1.4);
  --font-size-large: calc(var(--base-size) * 1.6);
  --font-size-xlarge: calc(var(--base-size) * 1.8);
  --primary-color: #afafaf;
  --highlight-color: #2e2d2f;
  --secondary-color: #2ecc71;
  --tertiary-color: #494949;
  --background-color: #040404;
  --separator-color: rgba(255, 255, 255, 0.25);
  --blocker-color: var(--dark-surface1);
  --text-color: #afafaf;
  --boxedtext-color: #afafaf;
  --font-family: 'Arial', sans-serif;
  .font-awesome, .logo {
    filter: invert(1);
  }
  .checkbox-input:not(.checkbox-input--xmarked):after {
    filter: invert(0)!important;
  }
  .repcontrol_edit, .repcontrol_add {
    opacity: 0.85;
    &:after {
      filter: invert(1);
    }
  }
}